
table th, table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    width: auto;

}
table {
    position: absolute;
    top: 190px;
    left: 350px;
    width: 62%;
    border-collapse: collapse;
    margin: 0 auto;
    

}


table th {
    background-color: #4caf50;
    color: white;
}

.action-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}

.edit-btn {
    background-color: #ffeb3b;
}

.save-btn {
    background-color: #4caf50;
    color: white;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

h2 {
    position: absolute;
    top:100px;
    left: 680px;
    text-align: center;
    font-size: 2rem;
}

.add-user-btn {
    position: absolute;
    top: 600px;
    left: 350px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4caf50;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 5px;

}



/* Responsive Styles */
@media (max-width: 768px) {
    .responsive-table table thead {
        display: none;
    }
    .responsive-table table, 
    .responsive-table table tbody, 
    .responsive-table table tr, 
    .responsive-table table td {
        display: block;
        width: 210px;
    }
  
    .responsive-table table tr {
        margin-bottom: 5px;
        border-bottom: 1px solid #ddd;
        
    }
  
    .responsive-table table td {
        text-align: left;
        white-space: nowrap;
    }
  
    .responsive-table table td:before {
        content: attr(data-label);
        position: absolute;
        left: 1px;
        width: 10%;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
  
    .add-user-btn {
        width: 12%;
        top:700px;
        left: 830px;
    }
    h2 {
      top:100px;
    left: 370px;
    text-align: center;
    font-size: 1rem;
    }
  }
  
  @media (max-width: 576px) {
  
    .responsive-table table td:before {
      width: 30%;
    }
    .add-user-btn {
      width: 12%;
      top:700px;
      left: 355px;
  }
    h2 {
      top:100px;
      left: 370px;
      text-align: center;
      font-size: 1rem;
    }
  }
  
  