<div class="card">
    <div class="card-header" style="background-color: black; color: #ffffff;">Total Bookings</div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Service</th>
            <th scope="col">%</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let total of total">
            <td>{{ total.name }}</td>
            <td>{{ total.details }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  