
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Glassmorphism sign up Form Tutorial in html css</title>
 
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form (ngSubmit)="onSubmit()">
        <h3>Sign Up</h3>

        <label for="name" class="form-label text-light">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name" [(ngModel)]="name" name="name">
        
        <label for="email" class="form-label text-light">Email</label>
        <input type="email" id="email" placeholder="Enter your email" [(ngModel)]="email" name="email">
        
        <label for="password" class="form-label text-light">Password</label>
        <input type="password" id="password" placeholder="Enter your password"[(ngModel)]="password" name="password">
        
        <label for="phoneNumber" class="form-label text-light">Phone Number</label>
        <input type="tel" id="phoneNumber" placeholder="Enter your phone number" [(ngModel)]="phoneNumber" name="phoneNumber">
        
        <label for="role" class="form-label text-light">Role</label>
        <select id="role" [(ngModel)]="role" name="role" class="form-control text-black">
          <option value="user" class="text-black">User</option>
          <option value="admin" class="text-black">Admin</option>
      </select>
        
        <button type="submit" class="text-black">Sign Up</button>
        <p class="text-light mt-2">Already have an account? <a routerLink="/sign-in" class="text-success">Sign In</a></p>
    </form>
</body>
</html>
