<div class="card">
    <div class="card-header" style="background-color: black; color: #ffffff;">Services</div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Service</th>
          </tr>
        </thead>
        <tbody>
          <tr><a routerLink="/flights" class="nav-link link-dark">Flights</a></tr>
          <tr><a routerLink="/cars" class="nav-link link-dark">Cars</a></tr>
          <tr><a routerLink="/hotels" class="nav-link link-dark">Hotels</a></tr>
        </tbody>
      </table>
    </div>
  </div>
  