<div class="container">
  <div class="row">
    <!-- First Card Row -->
    <div class="col-md-6 col-lg-3 mb-3">
      <div class="card" style="background-color: #444444; color: #ffffff;">
        <div class="card-body">
          <h5 class="card-title">20K</h5>
          <p class="card-text">Total Users</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-3">
      <div class="card" style="background-color: #151515; color: #ffffff;">
        <div class="card-body">
          <h5 class="card-title">6K</h5>
          <p class="card-text">Happy Users</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Second Card Row -->
    <div class="col-md-6 col-lg-3 mb-3">
      <div class="card" style="background-color: #151515; color: #ffffff;">
        <div class="card-body">
          <h5 class="card-title">10K</h5>
          <p class="card-text">Total Reviews</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-3">
      <div class="card" style="background-color: #444444; color: #ffffff;">
        <div class="card-body">
          <h5 class="card-title">4K</h5>
          <p class="card-text">Unhappy Users</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Content Area -->
<div class="user-card">
  <button class="user-button" routerLink="/users">Users</button>
  <div class="user-avatar">
    <i class="bi bi-person"></i>
  </div>
</div>

<div class="review-container" style="background-color: #444444;">
  <h2>Review</h2>
  <div class="stars">
      <span class="star full">&#9733;</span>
      <span class="star full">&#9733;</span>
      <span class="star full">&#9733;</span>
      <span class="star full">&#9733;</span>
      <span class="star full">&#9733;</span>
  </div>
</div>
