html {
  overflow: hidden;
  height: 100%;
  font-size: 0.875rem;
}

.card {
  position: relative;
  bottom: 300px;
  left: 210px;
  margin: 10px auto;
  width: 100%;
  max-width: 400px;
}

.card-title {
  font-size: 24px;
  margin-top: 5px;
}

.card-text {
  font-size: 14px;
}

.user-card {
  position: relative;
  bottom: 570px;
  left: 500px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid #444444;
  border-radius: 8px;
  background-color: #f8f9fa;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-button {
  background-color: #444444;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-button:hover {
  background-color: #444444;
}

.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgb(201, 199, 199);
}

.user-avatar i {
  font-size: 5rem;
  color: #fff;
}

.review-container {
  position: relative;
  bottom: 580px;
  left: 500px;
  margin: 20px auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

h2 {
  color: #ffffff;
  margin-bottom: 5px;
}

.stars {
  margin-bottom: 5px;
}

.star {
  font-size: 30px;
  color: #f1c40f;
  margin: 0 2px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .card {
    width: 100%;
    max-width: none;
    left: 0;
    top: 0;
  }

  .user-card {
    width: 100%;
    max-width: none;
    left: 0;
    bottom: 0;
  }

  .review-container {
    width: 100%;
    max-width: none;
    left: 0;
    bottom: 0;

  }
}
