

<nav class="navbar navbar-expand-lg navbar-dark bg-dark " data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><mat-icon>flight</mat-icon>Travel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="home" class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="flight" class="nav-link" href="#">Hotels</a>
          </li>
          <li class="nav-item">
            <a routerLink="hotel" class="nav-link" href="#">Flights</a>
          </li>
          <li class="nav-item">
            <a routerLink="car" class="nav-link" href="#">Cars</a>
          </li>
        </ul>
        <span class="navbar-text">
          Navbar text with an inline element
        </span>
      </div>
    </div>
  </nav>



  