<app-dashboard></app-dashboard>
<div>
    <h3>Flights</h3>
    <table>
      <tr>
        <th>ID</th>
        <th>Airline</th>
        <th>Destination</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let flight of flights">
        <td>{{ flight.id }}</td>
        <td>{{ flight.airline }}</td>
        <td>{{ flight.destination }}</td>
        <td>
          <button (click)="editFlight(flight)">Edit</button>
          <button (click)="deleteFlight(flight.id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
  