/* General Table Styles */
table th, table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    width: auto;
}

.responsive-table {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin: 0 auto;
}

thead {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}

table {
    position: absolute;
    left: 350px;
    top:100px;
    border-collapse: collapse;
    margin: 20px 0;
}

table th {
    background-color: #4caf50;
    color: white;
}

.action-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}

.edit-btn {
    background-color: #ffeb3b;
}

.save-btn {
    background-color: #4caf50;
    color: white;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

h2 {
    position: absolute;
    top: 40px;
    left: 720px;
    text-align: center;
    font-size: 2rem;
    color: #175719;
}

.add-flight-btn {
    position: absolute;
    bottom: 100px;
    left: 300px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4caf50;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 5px;
}

/* Flexbox for better alignment */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead {
        display: none;
    }
    td {
        position: relative;
        padding-left: 50%;
    }
    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        padding-right: 10px;
        font-weight: bold;
    }
    
    .add-flight-btn {
        width: 80%;
    }
    
    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .add-flight-btn {
        width: 100%;
    }
    h2 {
        font-size: 1.2rem;
    }
}




