<div class="dashboard">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <!--<img src="../assets/airplane.png" alt="Travel Logo" class="logo-image">-->
      <span class="logo-text">Travel</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <i class="bi bi-grid-fill"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/Summary" class="nav-link link-dark">
          <i class="bi bi-clipboard-data"></i>
          Summary
        </a>
      </li>
      <li>
        <a href="#servicesSubmenu" class="nav-link link-dark" data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-tools"></i>
          Services
          <i class="bi bi-caret-down-fill float-end arrow-icon"></i>
        </a>
        <div class="collapse" id="servicesSubmenu">
          <ul class="nav flex-column ms-3">
            <li class="nav-item">
              <a routerLink="/flights" class="nav-link link-dark">
                <i class="bi bi-airplane-fill"></i>
                Flights
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/cars" class="nav-link link-dark">
                <i class="bi bi-car-front-fill"></i>
                Cars
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/hotels" class="nav-link link-dark">
                <i class="bi bi-building"></i>
                Hotels
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#bookingsSubmenu" class="nav-link link-dark" data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-calendar-check"></i>
          Bookings
          <i class="bi bi-caret-down-fill float-end arrow-icon"></i>
        </a>
        <div class="collapse" id="bookingsSubmenu">
          <ul class="nav flex-column ms-3">
            <li class="nav-item">
              <a routerLink="/bookingflight" class="nav-link link-dark">
                <i class="bi bi-airplane-fill"></i>
                Flights
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/bookingcar" class="nav-link link-dark">
                <i class="bi bi-car-front-fill"></i>
                Cars
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/bookinghotel" class="nav-link link-dark">
                <i class="bi bi-building"></i>
                Hotels
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#userManagementSubmenu" class="nav-link link-dark" data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-person-fill"></i>
          User Management
          <i class="bi bi-caret-down-fill float-end arrow-icon"></i>
        </a>
        <div class="collapse" id="userManagementSubmenu">
          <ul class="nav flex-column ms-3">
            <li class="nav-item">
              <a routerLink="/users" class="nav-link link-dark">
                <i class="bi bi-list-ul"></i>
                View Users
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/users" class="nav-link link-dark">
                <i class="bi bi-plus-circle"></i>
                Add User
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/users" class="nav-link link-dark">
                <i class="bi bi-pencil-square"></i>
                Update User
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/users" class="nav-link link-dark">
                <i class="bi bi-x-circle"></i>
                Delete User
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <hr>
  </div>
</div>

