<app-dashboard></app-dashboard>

<div>
    <h3>Hotels</h3>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let hotel of hotels">
        <td>{{ hotel.id }}</td>
        <td>{{ hotel.name }}</td>
        <td>{{ hotel.location }}</td>
        <td>
          <button (click)="editHotel(hotel)">Edit</button>
          <button (click)="deleteHotel(hotel.id)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
  